# cache
*__pycache__*
src/utils/__pycache__
utils/__pycache__/file_management.cpython-310.pyc
*__*__*

data*/
exploration/
Nicolas_Figures/
src/rats_kinematics_utils.egg-info/

*.csv 
*.h5
*.png

src/test.py
notes.txt
old_course/

*.out
*.logexploration/
